## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

Hello World

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.80,71,78,10.76,broken clouds
1,1,Bertoua,CM,4.5833,13.6833,66.02,99,100,2.73,overcast clouds
2,2,Provideniya,RU,64.3833,-173.3000,37.51,65,0,6.71,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,73.58,63,100,17.11,overcast clouds
4,4,Bengkulu,ID,-3.8004,102.2655,83.07,73,89,4.07,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Rikitea,PF,-23.1203,-134.9692,73.58,63,100,17.11,overcast clouds
24,24,Guerrero Negro,MX,27.9769,-114.0611,70.30,75,18,14.50,few clouds
25,25,Hami,CN,42.8000,93.4500,73.99,17,2,3.00,clear sky
33,33,Maragogi,BR,-9.0122,-35.2225,74.07,86,34,7.40,scattered clouds
36,36,Ginda,IN,30.6945,78.4932,72.63,61,0,3.85,clear sky
46,46,Poum,NC,-20.2333,164.0167,74.12,74,48,10.31,scattered clouds
51,51,Saint-Philippe,RE,-21.3585,55.7679,73.22,76,33,11.72,scattered clouds
55,55,Rio De Janeiro,BR,-22.9028,-43.2075,73.90,83,0,4.61,clear sky
77,77,Yuncheng,CN,35.0231,110.9928,74.70,63,0,3.29,clear sky
97,97,Tocoa,HN,15.6833,-86.0000,73.94,98,34,1.92,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
628,False,False,False,False,False,False,False,False,False,False
633,False,False,False,False,False,False,False,False,False,False
637,False,False,False,False,False,False,False,False,False,False
643,False,False,False,False,False,False,False,False,False,False
644,False,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Rikitea,PF,-23.1203,-134.9692,73.58,63,100,17.11,overcast clouds
24,24,Guerrero Negro,MX,27.9769,-114.0611,70.30,75,18,14.50,few clouds
25,25,Hami,CN,42.8000,93.4500,73.99,17,2,3.00,clear sky
33,33,Maragogi,BR,-9.0122,-35.2225,74.07,86,34,7.40,scattered clouds
36,36,Ginda,IN,30.6945,78.4932,72.63,61,0,3.85,clear sky
...,...,...,...,...,...,...,...,...,...,...
628,628,Gladstone,AU,-23.8500,151.2500,73.78,60,90,12.66,overcast clouds
633,633,Hollins,US,37.3413,-79.9431,70.18,86,1,0.00,clear sky
637,637,Lubbock,US,33.6001,-101.8338,73.15,49,20,1.99,few clouds
643,643,Mankono,CI,8.0586,-6.1897,70.07,93,82,2.80,broken clouds
644,644,Aripuana,BR,-9.1667,-60.6333,72.07,86,16,1.54,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Rikitea,PF,73.58,overcast clouds,-23.1203,-134.9692,
24,Guerrero Negro,MX,70.30,few clouds,27.9769,-114.0611,
25,Hami,CN,73.99,clear sky,42.8000,93.4500,
33,Maragogi,BR,74.07,scattered clouds,-9.0122,-35.2225,
36,Ginda,IN,72.63,clear sky,30.6945,78.4932,
46,Poum,NC,74.12,scattered clouds,-20.2333,164.0167,
51,Saint-Philippe,RE,73.22,scattered clouds,-21.3585,55.7679,
55,Rio De Janeiro,BR,73.90,clear sky,-22.9028,-43.2075,
77,Yuncheng,CN,74.70,clear sky,35.0231,110.9928,
97,Tocoa,HN,73.94,scattered clouds,15.6833,-86.0000,

In [8]:
# # 6a. Set parameters to search for hotels with 5000 meters..
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'next_page_token': 'Aap_uEBz4CJvGM2KJ-4bLGRfG7R_zNzMPRFIAg8NSoyNAlQjJO1ZyUcseNaag9v-Sv2NyRhEgBRmOQkyqBIk-uRWEjK8S1z71ofFMoeEph2JbhvfA5t06ZoXKDid3iFmmufP6mwL5qUOh0joH9GS4uZd8sdwhhqIy7J1z0DnxwZ_vD6Zi_bcoDvw8SK84Owv-MnS4FygTSAcCLK3iLtMnsn7RkUkMzFhyoIxLg0mlzZUDklEJG-Gyx-QGeTWCeY5YwGnKK2yjH1m1mVDNakeUkSFJG_Ze1vqLB_FxNRb9q3h4GbZojVYRpR3-u6Dqh80w8qw1nRkJQsSYHS2aK2lBfFL_6aRa43-M7QaE7bqt3S6w4emCQwq-g-6Sp53dCtiW9I7ij76vRzFHMfHPK9nmMb2P0VTLvURbUXksc_j71X_UhsTq9VGETrHbS_K',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594360302915,
      'lng': 2.354355480291502},
     'southwest': {'lat': 48.8567380697085, 'lng': 2.351657519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'Aap_uECHQKfDw_gs5u4NCU38DODjGM_CiAkvOCgdL0u5ruaV3mlr9jkaQLlDGMJ41Y0xrWy0I0Po_Sz90DEQG-hpAIxXg51VQKRPy7zOcYG_GYfry_AsVBvzNgyIDUcmoqjt67vLma9Ffbt1kX0aaUIs0CC6_H7syGBi6ABY5wBxwCCvt4Vh',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 291,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.85954748029151,
      'lng': 2.347782830291502},
     'southwest': {'lat': 48.85684951970851, 'lng': 2.345084869708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Britannique - Paris Centre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Centre</a>'],
     'photo_reference': 'Aap_uECdbA02puT50iNP1jnvZp9e2ly237kCsNpImkoZwQm4HN_dZ-z1VauuB3Z8w2vM9zOrBUmPTHpobcUgeJaOSj1O9HCdJMofBYX9K2THl39vYY-HP0QqH1JcHDjzLs7KY56Fty5IN17DbcOImmd5mMOMSc-1AcOSsJlpFWwoU-_PMrTe',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 607,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.8617653302915,
      'lng': 2.348020880291502},
     'southwest': {'lat': 48.85906736970851, 'lng': 2.345322919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Citadines Les Halles Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 849,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart hotel Paris)</a>'],
     'photo_reference': 'Aap_uEA1Gu5Qe5wdzWVLsevC1ds9IJKyXiNC9mxpQUjXhUK2Eke0MW5jxPE8Vg-BJ0yuaxolLhmKSqxMkIjdU9IZSKGHgXndFYZkytuttuMwaltcbIOjMc9wxgi7v7urOQkdOMVFDxqfx9sgkhEZoIgpHI7OZHxLYAz2vzYp0DtpPqqNDyYp',
     'width': 1280}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 856,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607658, 'lng': 2.3465318},
    'viewport': {'northeast': {'lat': 48.8620584302915,
      'lng': 2.347692880291501},
     'southwest': {'lat': 48.85936046970851, 'lng': 2.344994919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel Paris Les Halles</a>'],
     'photo_reference': 'Aap_uEAT75WhAUleAs0juf1-CEzWo0q27kedc7k9jzBUOLkgdI5fCf4KZYL5XwZCYrOKi_XPdxbVfnDXQDAoJlg2Wue5qkH7Db56wOWhcpnFTzJ6kJ7jQ8gJ4k5avCDMyQqNajJL9_1gkG1qVtW88QGWCC2nlMUgnP8WOIZHaJC8xW30hyKt',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8J Paris, France',
    'global_code': '8FW4V86W+8J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2221,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.860352, 'lng': 2.3440948},
    'viewport': {'northeast': {'lat': 48.86165553029149,
      'lng': 2.345549080291502},
     'southwest': {'lat': 48.8589575697085, 'lng': 2.342851119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Hôtel Ducs de Bourgogne</a>'],
     'photo_reference': 'Aap_uEALNp8HoocY23TCykLt587b8lkIY5jjqDft1caNcYVf_mAcqKzgFrK4usSHtr54okxBMOhvdw_P0GUH3DUxBFlVC0Iff4nV9YydWfoObZ2KWuXEU6s2ogXT27yi4nTZclzFbXAGExjj_hGCKj-M7ZUdx_xyam3Q56H7UBr8M1ZzQU8s',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 279,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Citadines Saint-Germain-des-Prés Paris (Apart hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113188832595116816387">Citadines Saint-Germain-des-Prés Paris</a>'],
     'photo_reference': 'Aap_uEAjWDcTHYdZhESXBIe4tQa0yDx3WMhWE7uunfokVBoosrmxJSXCn_MZXJI358MQU8V9wuaX2DncvIGJsSNUspo9T-1KFrS_W0zkoF7IFIZhtahDvXandJOQbcfs7Z6JEuO0bOtNrpfxFXhuCHw76H77wB8uSfTBt50uiwK1P-pyVXRU',
     'width': 6720}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 700,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8663519, 'lng': 2.3606461},
    'viewport': {'northeast': {'lat': 48.86775308029149,
      'lng': 2.361905130291502},
     'southwest': {'lat': 48.8650551197085, 'lng': 2.359207169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'Aap_uEBH_FsMHSMWi4PYjIort-vs3kPCl8K5RcvYQ19QVl7MylnjPZ5b6mH7o682BIRTv8mnsFsFXFSc9qZQk_u8D95P5xZiJh2cWZ-Bp4CuYLdC87Jr_EP9m3spv60JeJxILHu2vauqnI1f2buECyownL17-yo3UU2b7VvUaE3WypHGDFSx',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 383,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8650759802915,
      'lng': 2.333775730291502},
     'southwest': {'lat': 48.8623780197085, 'lng': 2.331077769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3700,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109908333790946649027">Hôtel Regina Louvre</a>'],
     'photo_reference': 'Aap_uEC1gKuZxyrhYt2zv0j7t25mWt3Nc-hKWF8YjbuD7E3O6ANj5zMeAskNHWpnyUA9lb-rnP3j8nb6jEfX83dJFYCyaKp8pA8jjnB2waqt9Q9Oq4CTOgoqT4KbSqLc6pIyXCr1D-AY1JlxPHEsMVZGAGH9rHHTXwrnk7MC96SycD55nB9O',
     'width': 5550}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 507,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84795229999999, 'lng': 2.370869},
    'viewport': {'northeast': {'lat': 48.8492035302915,
      'lng': 2.372290080291501},
     'southwest': {'lat': 48.8465055697085, 'lng': 2.369592119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101181280085797863615">Kevin Nguyen</a>'],
     'photo_reference': 'Aap_uEB9b1HqTWCJUK0Z31RTQOjTQNzf19x-lWGx8Df4i1Aby6g06K1R1UegX0LOnybo2CWw9qYZPkxzs9Zku8oCpP7uLQAnNwIz9DvI-6J-nFxt1mEHegryCan-VTpvkf5fRW-gHHHRBorEY5teOWzv4MxGaEBiJdkyvgTZ0-Og00_I6rMq',
     'width': 1536}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+58 Paris, France',
    'global_code': '8FW4R9XC+58'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 825,
   'vicinity': '41/43 Avenue Ledru Rollin, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8710647, 'lng': 2.34991},
    'viewport': {'northeast': {'lat': 48.87241888029151,
      'lng': 2.351188530291502},
     'southwest': {'lat': 48.86972091970851, 'lng': 2.348490569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel des Comédies Paris',
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114696623290303183213">Noble</a>'],
     'photo_reference': 'Aap_uEDBIfaXfysgLOPwPdD-mAgy9e-x2uEzLzj115FwIfRyPQZZF0DOI277FRB7WC5_ZMkkT0S53E0sGaV5dILPCguXBk5RPzfz1_LaKvuS7wUi6andCut84MarWMrYoQcTero_dvrlA59qCdV9wbJDPEbJZrnsswr0MC10hBSQNRizQHlg',
     'width': 3000}],
   'place_id': 'ChIJn6ginxZu5kcRmAEK0OHm0cI',
   'plus_code': {'compound_code': 'V8CX+CX Paris, France',
    'global_code': '8FW4V8CX+CX'},
   'rating': 4.2,
   'reference': 'ChIJn6ginxZu5kcRmAEK0OHm0cI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 195,
   'vicinity': "8 Rue d'Hauteville, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84754640000001, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488750302915,
      'lng': 2.373125480291502},
     'southwest': {'lat': 48.8461770697085, 'lng': 2.370427519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 787,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117462031751048846575">Hôtel De France Gare de Lyon Bastille</a>'],
     'photo_reference': 'Aap_uEAPqDY9d9ezrUfgOdvSKF2VLrqreuqfkffAtktTj8-ZfN66zBF1rfDOxudaEGMLP8y5IObC9hNPEnEUxTkFUk9vAc_hRogCy1d9s4yyeFAlGmYzTxeX_KOsQctczigeEu3URycn9TxuY4hwEUBK0rli15D0bUHy9-6MHmcs4X3kT6qG',
     'width': 1181}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 381,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731374802915,
      'lng': 2.346059980291502},
     'southwest': {'lat': 48.8704395197085, 'lng': 2.343362019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Prélude Opéra Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 5120,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113098608949799179620">Chrystelle Baudry</a>'],
     'photo_reference': 'Aap_uEDzKx-nDhi8PyJCs5Oc5I4Tn61Xjl0Dz_Mls_Wn0srdLNp7aKUXLlsmtM6hbnk3jx1_lVtBvK6-X_4gWgzKtetzblUBIuGOrAESlh2FqiXvim8daX98NUZA4UsurUtfIVA8CHkM_tNJYKQUAJw8fDbtgsbbXH9lp9rcyDdiI5km3BS5',
     'width': 3840}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4.2,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 368,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423491, 'lng': 2.3632246},
    'viewport': {'northeast': {'lat': 48.84365908029149,
      'lng': 2.364711430291502},
     'southwest': {'lat': 48.8409611197085, 'lng': 2.362013469708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114802271282641766772">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'Aap_uEBLMMnU49R8Otg4d_J_n9AmoURgLWy2DS3MQGig6wF951tfr4hJHp_8nhLYQFRODG6PW2GW5VPoPvkCg-ykPisO2JX2HfW_DEjzOuDtXvM46g_97Pe-p_cPkd_pd7UwkHz2DBbb1b58m_c1tLI3rFlIrceUx7tmNfhrvcrTkumfpEue',
     'width': 6720}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 4,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 436,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8642974, 'lng': 2.3308142},
    'viewport': {'northeast': {'lat': 48.8655789302915,
      'lng': 2.332153980291502},
     'southwest': {'lat': 48.8628809697085, 'lng': 2.329456019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 844,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'Aap_uEBZas3eirQBa1aN0ZrSboJq8XG2Y3LhgPUJ2d5bS5LKpuj_kVT7ti3pHuv3Yq1Wt7stWoVynY6pnMVHo8ffCjJp4Ehfbag7EnPsqEGaAhzyrUIIW-TWR5aIhYrr8e8Yj0T3sPxTvm3Yxkqugmd1G2lDnwspvsmrnimTabWrqU_CPxNI',
     'width': 1500}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1075,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.8724588802915,
      'lng': 2.340112930291502},
     'southwest': {'lat': 48.8697609197085, 'lng': 2.337414969708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],

In [9]:

 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
# Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Rikitea,PF,73.58,overcast clouds,-23.1203,-134.9692,People ThankYou
24,Guerrero Negro,MX,70.30,few clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
25,Hami,CN,73.99,clear sky,42.8000,93.4500,Laoyutang Resort
33,Maragogi,BR,74.07,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
36,Ginda,IN,72.63,clear sky,30.6945,78.4932,Bal uma sankar hotel and restaurant
...,...,...,...,...,...,...,...
628,Gladstone,AU,73.78,overcast clouds,-23.8500,151.2500,Highpoint International
633,Hollins,US,70.18,clear sky,37.3413,-79.9431,"Country Inn & Suites by Radisson, Roanoke, VA"
637,Lubbock,US,73.15,few clouds,33.6001,-101.8338,La Quinta Inn by Wyndham Lubbock - Downtown Ci...
643,Mankono,CI,70.07,broken clouds,8.0586,-6.1897,Centre d'accueil Emmaüs
644,Aripuana,BR,72.07,few clouds,-9.1667,-60.6333,

In [14]:
#Drop the rows where there is no Hotel Name.
hotel_df.isnull()

      City  Country  Max Temp  Description    Lat    Lng  Hotel Name
3    False    False     False        False  False  False       False
24   False    False     False        False  False  False       False
25   False    False     False        False  False  False       False
33   False    False     False        False  False  False       False
36   False    False     False        False  False  False       False
..     ...      ...       ...          ...    ...    ...         ...
628  False    False     False        False  False  False       False
633  False    False     False        False  False  False       False
637  False    False     False        False  False  False       False
643  False    False     False        False  False  False       False
644  False    False     False        False  False  False       False

[78 rows x 7 columns]

In [15]:
hotel_df.dropna()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Rikitea,PF,73.58,overcast clouds,-23.1203,-134.9692,People ThankYou
24,Guerrero Negro,MX,70.30,few clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
25,Hami,CN,73.99,clear sky,42.8000,93.4500,Laoyutang Resort
33,Maragogi,BR,74.07,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
36,Ginda,IN,72.63,clear sky,30.6945,78.4932,Bal uma sankar hotel and restaurant
...,...,...,...,...,...,...,...
628,Gladstone,AU,73.78,overcast clouds,-23.8500,151.2500,Highpoint International
633,Hollins,US,70.18,clear sky,37.3413,-79.9431,"Country Inn & Suites by Radisson, Roanoke, VA"
637,Lubbock,US,73.15,few clouds,33.6001,-101.8338,La Quinta Inn by Wyndham Lubbock - Downtown Ci...
643,Mankono,CI,70.07,broken clouds,8.0586,-6.1897,Centre d'accueil Emmaüs
644,Aripuana,BR,72.07,few clouds,-9.1667,-60.6333,

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv

hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dd>{Max Temp} and {Description} °F</dd>
</dl>
"""

In [28]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))