## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

Hello World

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")

In [3]:
# vacation_df.head()
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,73.58,overcast clouds,-23.1203,-134.9692,People ThankYou
1,24,Guerrero Negro,MX,70.30,few clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
2,25,Hami,CN,73.99,clear sky,42.8000,93.4500,Laoyutang Resort
3,33,Maragogi,BR,74.07,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
4,36,Ginda,IN,72.63,clear sky,30.6945,78.4932,Bal uma sankar hotel and restaurant

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dd>{Max Temp} and {Description} °F</dd>
</dl>
"""

In [5]:
vacation_df.isnull()

    City_ID   City  Country  Max Temp  Description    Lat    Lng  Hotel Name
0     False  False    False     False        False  False  False       False
1     False  False    False     False        False  False  False       False
2     False  False    False     False        False  False  False       False
3     False  False    False     False        False  False  False       False
4     False  False    False     False        False  False  False       False
..      ...    ...      ...       ...          ...    ...    ...         ...
73    False  False    False     False        False  False  False       False
74    False  False    False     False        False  False  False       False
75    False  False    False     False        False  False  False       False
76    False  False    False     False        False  False  False       False
77    False  False    False     False        False  False  False        True

[78 rows x 8 columns]

In [6]:
vacation_df.dropna()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,73.58,overcast clouds,-23.1203,-134.9692,People ThankYou
1,24,Guerrero Negro,MX,70.30,few clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
2,25,Hami,CN,73.99,clear sky,42.8000,93.4500,Laoyutang Resort
3,33,Maragogi,BR,74.07,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
4,36,Ginda,IN,72.63,clear sky,30.6945,78.4932,Bal uma sankar hotel and restaurant
...,...,...,...,...,...,...,...,...
72,627,Le Port,RE,73.62,scattered clouds,-20.9373,55.2919,KORBEY D'OR OUEST
73,628,Gladstone,AU,73.78,overcast clouds,-23.8500,151.2500,Highpoint International
74,633,Hollins,US,70.18,clear sky,37.3413,-79.9431,"Country Inn & Suites by Radisson, Roanoke, VA"
75,637,Lubbock,US,73.15,few clouds,33.6001,-101.8338,La Quinta Inn by Wyndham Lubbock - Downtown Ci...
76,643,Mankono,CI,70.07,broken clouds,8.0586,-6.1897,Centre d'accueil Emmaüs

In [7]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [8]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [9]:


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [11]:
# 4b. Display the 
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
vacation_start = vacation_df.loc[vacation_df["City"] =="Elizabeth City"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Elizabeth City "]

In [56]:
# Set the cities to stop at
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hollins"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Rolla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Lubbock"]

In [52]:
# Get the lat and lng for the start and end of the trip
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

Start: (36.2946, -76.2511), End: (36.2946, -76.2511)

In [57]:
 # Get the lat and lng for the stops
coords_stop_1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
coords_stop_2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
coords_stop_3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {coords_stop_1}, Stop 2: {coords_stop_2}, stop 3:{coords_stop_3}')

Stop 1: (37.3413, -79.9431), Stop 2: (37.9514, -91.7713), stop 3:(33.6001, -101.8338)

In [58]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[coords_stop_1, coords_stop_2, coords_stop_3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
city_itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2,vacation_stop3, vacation_end],ignore_index=True)
city_itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,481,Elizabeth City,US,74.01,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
1,633,Hollins,US,70.18,clear sky,37.3413,-79.9431,"Country Inn & Suites by Radisson, Roanoke, VA"
2,224,Rolla,US,71.67,clear sky,37.9514,-91.7713,Holiday Inn Express & Suites Rolla - Univ of M...
3,637,Lubbock,US,73.15,few clouds,33.6001,-101.8338,La Quinta Inn by Wyndham Lubbock - Downtown Ci...

In [79]:
 # 9 Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dd>{Max Temp} and {Description} °F</dd>
</dl>
"""

In [81]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in city_itinerary_df.iterrows()]

In [82]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = city_itinerary_df[["Lat", "Lng"]]

In [85]:
# 11a. Add a marker layer for each city to the map.
locations = city_itinerary_df[["Lat", "Lng"]]
max_temp = city_itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))